/* @file global.styles  Styles you add here will load for all device sizes, they are "global", as opposed to "responsive" styles, which only load for a given breakpoint (media query) that you set in theme settings. See the README for more details. */
/* ================== Semantic classes ================== */
.inline { display: inline; }

.right { float: right; padding-left: .5em; }

.left { float: left; padding-right: .5em; }

.half { width: 49%; }

.green { color: #19b208; }

.grey { color: #777777; }

.small { size: .9em; }

.uppercase { text-transform: uppercase; }

.clear { clear: right; }

/* ============================================================================= Base ========================================================================== */
html { background: #fff; }

body { font-family: "Noto-Sans", Verdana, Geneva, "DejaVu Sans", Arial, Helvetica, sans-serif; font-size: 87.5%; color: #444444; }

body.group-inactive { background-color: #BBBBBB; }

/* ============================================================================= HTML Elements ========================================================================== */
/* This is the same as was used in h2 below for groups. Not sure if below comes into play elsewhere. Plus the selection here is a bit rushed, but it works. */
.node-type-group .region-two-66-33-first .pane-node-content h1.pane-title, .node-type-touring-group .region-two-66-33-first .pane-node-content h1.pane-title { font-family: "Noto-Serif", Georgia, Baskerville, Palatino, "Palatino Linotype", "Book Antiqua", "Times New Roman", serif; padding: 0 .6em 0.1em 1em; -moz-border-radius: 15px; border-radius: 15px; border: #19b208 2px solid; color: #19b208; margin-bottom: 1em; }

h2.group, h2.touring-group { font-family: "Noto-Serif", Georgia, Baskerville, Palatino, "Palatino Linotype", "Book Antiqua", "Times New Roman", serif; padding: 0 .6em 0.1em 1em; -moz-border-radius: 15px; border-radius: 15px; border: #19b208 2px solid; color: #19b208; margin-top: 0; }
h2.event { margin: .83em 0 .3em; }

h3.group { font-family: "Noto-Serif", Georgia, Baskerville, Palatino, "Palatino Linotype", "Book Antiqua", "Times New Roman", serif; border: #19b208 2px solid; padding: 0 .3em .1em 1em; -moz-border-radius: 15px; border-radius: 15px; color: #19b208; font-weight: normal; }
h3.map { font-family: "Noto-Serif", Georgia, Baskerville, Palatino, "Palatino Linotype", "Book Antiqua", "Times New Roman", serif; margin-bottom: 0; font-size: 1.2em; font-weight: bold; }
h3.map a { color: white; }
h3 .date { font-family: "Noto-Serif", Georgia, Baskerville, Palatino, "Palatino Linotype", "Book Antiqua", "Times New Roman", serif; border: #BBBBBB 2px solid; padding: 0 .6em; -moz-border-radius: 15px; border-radius: 15px; color: #777777; font-weight: normal; }

pre, code, tt, samp, kbd, var { font-family: Consolas, Monaco, "Courier New", Courier, monospace, sans-serif; }

/* ============================================================================= Wrappers ========================================================================== */
/* Outer wrappers: - #page-wrapper: body > #page-wrapper - #page: body > #page-wrapper > #page - .container: body > #page-wrapper > #page.container  The .container class holds the page width value from theme settings. You can style the .container class but do not add width such as border, padding, margins etc. */
.group-inactive #header { background-color: white; }

#messages { position: relative; top: -30px; }

#columns { position: relative; top: -30px; }

/* Wraps the content region, avoid applying styles to this wrapper, its used mainly for position and invisible gutters and can be problematic to style */
#footer { background-color: #BBBBBB; color: white; padding-top: .5em; font-family: "Typewriter", Consolas, Monaco, "Courier New", Courier, monospace, sans-serif; font-size: 1.2em; }
#footer a:link, #footer a:visited { color: #444444; }
#footer a:hover, #footer a:focus { color: white; }
#footer #block-system-powered-by { text-align: right; }

.group-inactive #footer { background-color: white; }

/* Full Width Wrappers These are used in the optional page--full-width-wrappers.tpl.php template. All have internal .container classes. In the full width wrapper template the .container classes set the width or max-width - you can style this but never add any width/margin/padding/borders etc to .container */
#header-wrapper { background: rgba(255, 192, 203, 0.5); }

#footer-wrapper { background: rgba(255, 192, 203, 0.5); }

/* ============================================================================= Branding ========================================================================== */
#logo { display: inline-block; float: left; font-family: "Typewriter", Consolas, Monaco, "Courier New", Courier, monospace, sans-serif; font-size: 2em; padding: 0 0.8em 0 0.1em; }

#site-name { font-size: 2em; margin: 0; font-family: "Typewriter", Consolas, Monaco, "Courier New", Courier, monospace, sans-serif; font-weight: bold; letter-spacing: 0.45em; }

#site-name a:link, #site-name a:visited, #logo a:link, #logo a:visited { text-decoration: none; color: #777777; }
#site-name a:hover, #site-name a:focus, #logo a:hover, #logo a:focus { text-decoration: underline; }

#site-slogan { margin: 0; }

/* ============================================================================= Page content header ========================================================================== */
#page-title { font-family: "Typewriter", Consolas, Monaco, "Courier New", Courier, monospace, sans-serif; margin: 0 0 10px 0; color: #777777; font-weight: normal; font-size: 2em; }

#secondary-menu-bar { padding: 0; position: relative; top: -30px; font-family: "Typewriter", Consolas, Monaco, "Courier New", Courier, monospace, sans-serif; font-size: 1.6em; }
#secondary-menu-bar ul li { float: right; }

ul.tabs.secondary li a { border: 1px solid #EEEEEE; border-radius: 15px; -moz-border-radius: 15px; background-color: #EEEEEE; padding: .3em 1em; }
ul.tabs.secondary li a.active, ul.tabs.secondary li a:active, ul.tabs.secondary li a:hover, ul.tabs.secondary li a:focus { border: 1px solid #777777; background-color: #777777; color: white; text-decoration: none; }

/* ============================================================================= Misc Global Styles ========================================================================== */
#aggregator .feed-source .feed-icon { display: inline; float: none; margin-right: 10px; }

.feed-details dt, .feed-details dd { display: inline; margin: 0; }

ul.links { margin: 0; padding: 0; }
ul.links.inline { display: block; }
ul.links li { display: inline; list-style: none; padding: 0 10px 0 0; }

.search-results { margin: 0; padding: 0; }

.attribution { display: block; opacity: 0.65; padding: 1em 0; text-align: center; }
.attribution a { text-decoration: none; color: inherit; }
.attribution a:hover, .attribution a:focus { text-decoration: underline; }

/* ============================================================================= Regions ========================================================================== */
/* Standard region wrapper, don't add width to any regions, you will bork the layout - no margin, padding or borders etc */
.region-two-50-first { margin-top: 2em; }
.region-two-50-first h3 { margin-top: 0; }
.region-two-50-first .results { margin-bottom: 2em; }

.region-two-66-33-second { margin-top: 2em; }

/* *** Links *** */
a { text-decoration: none; color: black; }
a:hover, a:focus { text-decoration: underline; color: #3232f6; }

/* Links in text or list of meta-information */
p a, .field-name-field-link a { color: #3232f6; }

.button a { border: 1px solid #EEEEEE; border-radius: 15px; -moz-border-radius: 15px; background-color: #EEEEEE; padding: .3em 1em; }
.button a:active, .button a:hover, .button a:focus { border: 1px solid #777777; background-color: #777777; color: white; text-decoration: none; }

/* ============================================================================= Primary, Secondary and Menu Bar region menus ========================================================================== */
.nav { clear: both; margin: 10px 0; }
.nav ul, .nav ul.menu { margin: 0; padding: 0; }
.nav li, .nav ul.menu li { display: inline; float: left; list-style: none; margin: 0; padding: 0; }
.nav li a, .nav ul.menu li a { display: block; white-space: nowrap; padding: 0 20px; }
.nav .block { margin-bottom: 0; }

/* ============================================================================= Menu Toggles ========================================================================== */
.at-mt .at-menu-toggle, .at-mt .at-menu-toggle ul, .at-mt .at-menu-toggle ul.menu { margin-top: 0; margin-bottom: 0; padding: 0; }
.at-mt .at-menu-toggle-button { margin: 0; }
.at-mt .at-menu-toggle ul a { padding: 0 10px; white-space: nowrap; }

/* ============================================================================= Menus, usually blocks ========================================================================== */
ul.menu { padding-left: 15px; }
ul.menu ul { padding-left: 15px; }
ul.menu li { margin: 0; }

/* If li.content exists it's a problem, so reset the padding */
.block .menu li.content { padding: 0; }

/* ============================================================================= Pagers ========================================================================== */
ul.pager { clear: both; margin: 0; text-align: center; }

.item-list ul.pager li { margin: 0; }

ul.pager li { background-image: none; display: inline; list-style-type: none; padding: .5em; }
ul.pager li.pager-current { font-weight: 700; }

.block ul.pager li { margin: 0; }

/* ============================================================================= Skip Navigation ========================================================================== */
#skip-link { left: 50%; margin-left: -6.5em; margin-top: 0; padding: 0 0.5em; position: absolute; width: 12em; z-index: 50; }
#skip-link a { background: #444; background: rgba(0, 0, 0, 0.6); color: #fff; display: block; line-height: 2; padding: 0; text-align: center; text-decoration: none; }
#skip-link a:link, #skip-link a:visited { background: #444; background: rgba(0, 0, 0, 0.6); color: #fff; display: block; line-height: 2; padding: 0; text-align: center; text-decoration: none; }
#skip-link a:hover, #skip-link a:focus, #skip-link a:active { outline: 0; }

/* ============================================================================= Tabs (local tasks) ========================================================================== */
#tasks { margin-bottom: 5px; }

ul.primary { border-bottom-color: #ccc; margin: 20px 0 0; padding: 0 0 0 5px; }
ul.primary li { display: block; float: left; margin: 0 1px -1px; }
ul.primary li a { background-color: #f5f5f5; border-color: #ccc; margin-right: 1px; padding: 0 10px; display: block; float: left; height: 1.5em; line-height: 1.5em; }
ul.primary li a:hover, ul.primary li a:focus { background-color: #777777; border-color: #ccc; color: white; }
ul.primary li.active a, ul.primary li.active a:hover, ul.primary li.active a:focus { background-color: #fff; border-bottom-color: #fff; }

ul.secondary { border-bottom: 1px solid #ccc; margin: 1em 0 0; padding: 0 .3em 1em; }
ul.secondary li { border-right: 0; list-style: none; padding: 0 10px 0 0; }
ul.secondary li a:hover, ul.secondary li a.active { border-bottom: none; text-decoration: underline; }

/* ============================================================================= Action links ========================================================================== */
ul.action-links { list-style: none; margin: 15px 0 0 66%; padding: 0 0 0 20px; }
ul.action-links li a { border: 1px solid #EEEEEE; border-radius: 15px; -moz-border-radius: 15px; background-color: #EEEEEE; padding: .3em 1em; }
ul.action-links li a:active, ul.action-links li a:hover, ul.action-links li a:focus { border: 1px solid #777777; background-color: #777777; color: white; text-decoration: none; }

/* ============================================================================= Field Styling ========================================================================== */
.field-label-inline .field-label { margin: 0; }

.field-label { font-size: 1em; font-weight: 700; font-family: inherit; line-height: inherit; margin-bottom: 0; }

.field-type-image { clear: both; }

.field-type-taxonomy-term-reference { margin-bottom: 1.5em; margin-top: 1.5em; }
.field-type-taxonomy-term-reference.field-label-inline .field-items { margin: 0; padding: 0; }
.field-type-taxonomy-term-reference.field-label-inline .field-item { display: inline; list-style: none; padding: 0 10px 0 0; }

.field-name-field-group-logo.view-mode-full { float: left; padding-right: 1em; padding-bottom: .5em; }
.field-name-field-group-logo.view-mode-teaser { float: right; padding-left: .5em; padding-bottom: .2em; }

.panel-pane .node-content .field-name-field-short-url h2 { font-style: normal; }

.ia-l .field-type-image figure, .iat-l .field-type-image figure { margin: 5px 20px 15px 0; }

.ia-c .field-type-image figure, .iat-c .field-type-image figure { margin: 5px auto 15px; }

.ia-r .field-type-image figure, .iat-r .field-type-image figure { margin: 5px 0 15px 20px; }

/* ============================================================================= Clip / Polr styling ========================================================================== */
.panel-pane .node-content section.field-type-polr-text.field, .panel-pane .node-content div.field-type-polr-text.field-label-hidden, .view-radar-listings-group .field-type-polr-text { text-align: right; margin: -1em 0 1em 0; padding-right: 0.8em; font-size: 0.8em; color: #777777; }

.node-type-event .panel-pane .node-content div.field-type-polr-text.field-label-hidden { margin-top: -0.5em; }

section.field-type-polr-text.field-label-inline .field-label, section.field-type-polr-text.field-label-inline .field-items, div.field-type-polr-text.field-label-hidden .field-items, .view-radar-listings-group .field-type-polr-text .field-items { float: none; }

section.field-type-polr-text h2, .view-radar-listings-group .field-type-polr-text .field-label { display: inline; font-style: normal; font-weight: normal; }

div.field-type-polr-text.field-label-hidden div, section.field-type-polr-text div, .view-radar-listings-group .field-type-polr-text div { display: inline; }

div.field-type-polr-text.field-label-hidden input, section.field-type-polr-text input, .view-radar-listings-group .field-type-polr-text input { height: 1.2em; padding-left: 0.5em; vertical-align: text-top; }

/* ============================================================================= Block Styling ========================================================================== */
.block { margin-bottom: 20px; }

.block-title { margin: 0; }

.block-content ul, .block-content ol { padding: 0 0 0 15px; }
.block-content li { margin: 0; padding: 0; }

#block-lang-dropdown-language { float: right; position: relative; top: -30px; }

#block-menu-menu-help-menu h2 { font-family: "Typewriter", Consolas, Monaco, "Courier New", Courier, monospace, sans-serif; color: #777777; font-size: 1.7em; font-weight: 400; padding-top: .5em; }

/* ============================================================================= Node Styling ========================================================================== */
.node { margin-bottom: 20px; }
.node .node-title { margin: 0; }

 /* =============================================================================
*   Forms
* ========================================================================== */
.form-item input.error, .form-item textarea.error, .form-item select.error { border: 1px solid #c00; }
.form-item label { font-weight: 700; }
.form-item .description { font-size: 0.85em; }

.marker, .form-required { color: #c00; }

.container-inline div, .container-inline label { display: inline; }

fieldset { border: 1px solid #ccc; }

a.button { -moz-appearance: button; -webkit-appearance: button; }

.password-parent, .confirm-parent { margin: 0; }

/* ============================================================================= Tables ========================================================================== */
table { margin: 10px 0; padding: 0; width: 100%; }
table.sticky-header { z-index: 10; }

table, thead, tbody, tr, th, td { border-color: #ccc; }

table, td, th { vertical-align: middle; }

caption, th, td { text-align: left; }

thead tr { font-weight: 700; background-color: #e5e5e5; }

td, th { border-bottom: 0; margin: 0; padding: 5px 7px; }

tbody tr { border-top: 1px solid #ccc; }

tr.odd { background: #fff; }
tr.info, tr.even, tr:nth-child(2n+2) { border-bottom: 0; background-color: #f5f5f5; }
tr.odd td.active { background-color: #eee; }
tr.even td.active { background-color: #ebebeb; }

/* ============================================================================= Messages ========================================================================== */
div.messages { margin-bottom: 10px; margin-top: 10px; }
div.messages ul { margin-top: 0; margin-bottom: 0; }

.node-unpublished p.unpublished, .comment-unpublished p.unpublished { color: pink; color: rgba(239, 170, 170, 0.4); font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif; font-size: 50px; font-weight: 700; line-height: 1.2; height: 0; margin: 0; padding: 0; overflow: visible; text-align: center; text-transform: uppercase; word-wrap: break-word; }
.ie6-7 .node-unpublished p.unpublished > *, .ie6-7 .comment-unpublished p.unpublished > * { position: relative; }

/* ============================================================================= Maintenance pages ========================================================================== */
.maintenance-page .container { padding: 40px 0; }
.maintenance-page #site-name, .maintenance-page #page-title { margin: 0; color: grey; font-family: serif; }

.db-offline .container { margin: 0 auto; padding: 40px 0; width: 100%; max-width: 960px; }
.db-offline div.messages { margin: 20px 0 0; }
.db-offline #content { padding: 20px 0; }

/* ============================================================================= Misc overrides for contrib modules ========================================================================== */
#admin-menu { margin: 0; padding: 0; font-size: 12px; }

.dev-query { background: #eee; padding: 30px; }

#styleguide-header { padding: 0 10px; }
#styleguide-header .item-list { font-family: inherit; margin: 0 20px 20px 0; min-height: 260px; width: auto; }

.views-exposed-form .views-exposed-widget .form-submit { margin: 0; }

.view-requests .views-exposed-widgets .views-submit-button { margin-top: 1.7em; }

/* *** Custom plugins *** */
/* Links on group page */
.create-event .item-list { margin-bottom: 1em; }
.create-event .item-list ul { padding: 0; margin: 0; }
.create-event .item-list ul li { list-style: none; margin: 0; padding: .3em 0; }
.create-event .item-list ul li a { color: dark-grey; }
.create-event .item-list ul li a .placeholder { font-style: normal; font-weight: 600; text-transform: capitalize; }

/* Entity Reference */
.group-reference .field-type-taxonomy-term-reference .field-label, .group-reference .field-name-field-opening-times .field-label { font-size: 1em; font-weight: normal; font-style: italic; }

/* ============================== Views & Panels ============================== */
.tight { margin-bottom: .3em; }

.results { margin-bottom: .8em; }

/* Label and info were used on node panels views panes. Once replaced by rendered entities may become obsolete. */
.label { font-style: italic; }

.info { margin: .3em 0 .3em 1em; }

.address-map { margin: .83em 1em; }

.panel-pane .node-content h2 { font-size: 1em; font-weight: normal; font-style: italic; }
.panel-pane .node-content section.field { margin: .3em 0 .3em 1em; }
.panel-pane .node-content .field-name-field-price-category { display: inline-block; float: left; }
.panel-pane .node-content div.field-name-field-price { padding-top: .3em; margin-left: -1em; font-style: italic; }
.panel-pane .node-content .field-name-field-offline { clear: left; margin: 1em 0 .3em 1em; }

.list { border: 2px solid #bbbbbb; border-radius: 15px; color: #777777; padding: 0 0.6em 1em 0.6em; margin: 0 10px; }
.list h2 { font-size: 1.17em; margin: 1em 0; font-weight: normal; }

.building { font-style: italic; }

.event-list-event-title { display: inline; font-size: 1.1em; }

.date-display-range { display: inline; }

.cancelled .event-list-event-title { text-decoration: line-through; font-weight: lighter; }
.cancelled h1.pane-title, .cancelled .field-name-body, .cancelled .field-name-field-date-time .field-item { text-decoration: line-through; }

/* group event tab table */
tr.cancelled td { text-decoration: line-through; }
tr.cancelled td.views-field-edit-node { text-decoration: none; }

.tentative .event-list-event-title { font-weight: lighter; }

/* Listings group */
.view-radar-event-search.listings-group .views-row, .view-radar-group-search.listings-group .views-row { border: 2px solid #19b208; border-radius: 15px; padding: 0 0.6em .6em 1em; background-color: #eee; }
.view-radar-event-search.listings-group .views-row h3, .view-radar-group-search.listings-group .views-row h3 { font-weight: normal; margin: .6em 0 .4em; }
.view-radar-event-search.listings-group .views-row h3 .item, .view-radar-group-search.listings-group .views-row h3 .item { color: black; }
.view-radar-event-search.listings-group .views-row .indented, .view-radar-group-search.listings-group .views-row .indented { margin: unset; padding-left: .6em; }

.events-period h2.block-title { color: #777777; font-weight: normal; }
.events-period ul li { display: inline; list-style: none; }

.page-groups .region-two-66-33-first .views-exposed-form, .page-events .region-two-66-33-first .views-exposed-form { border: 1px solid #EEEEEE; padding: .5em 1em; -moz-border-radius: 15px; border-radius: 15px; }
.page-groups .region-two-66-33-first .views-exposed-form .views-widget-filter-search_api_views_fulltext, .page-events .region-two-66-33-first .views-exposed-form .views-widget-filter-search_api_views_fulltext { width: 60%; }
.page-groups .region-two-66-33-first .views-exposed-form .views-widget-filter-search_api_views_fulltext input, .page-events .region-two-66-33-first .views-exposed-form .views-widget-filter-search_api_views_fulltext input { width: 100%; }
.page-groups .region-two-66-33-first .views-exposed-form .views-submit-button, .page-groups .region-two-66-33-first .views-exposed-form .views-reset-button, .page-events .region-two-66-33-first .views-exposed-form .views-submit-button, .page-events .region-two-66-33-first .views-exposed-form .views-reset-button { padding: 2em .5em 0; }
.page-groups .region-two-66-33-first .pane-radar-event-search-panel-pane-1, .page-events .region-two-66-33-first .pane-radar-event-search-panel-pane-1 { padding: 0 1em 0 0; }
.page-groups .region-two-66-33-first .pane-radar-event-search-panel-pane-1 article, .page-events .region-two-66-33-first .pane-radar-event-search-panel-pane-1 article { padding: 0 0.7em; }
.page-groups .region-two-66-33-first .pane-radar-group-search-panel-pane-1, .page-events .region-two-66-33-first .pane-radar-group-search-panel-pane-1 { padding: 0 1em; }
.page-groups .region-two-66-33-first .pane-radar-group-search-panel-pane-1 .half, .page-events .region-two-66-33-first .pane-radar-group-search-panel-pane-1 .half { padding-left: 1em; }
.page-groups .region-two-66-33-second .region-inner, .page-groups .region-three-brick-left-above .region-inner, .page-groups .region-three-brick-center-above .region-inner, .page-groups .region-three-brick-right-above .region-inner, .page-events .region-two-66-33-second .region-inner, .page-events .region-three-brick-left-above .region-inner, .page-events .region-three-brick-center-above .region-inner, .page-events .region-three-brick-right-above .region-inner { border: 1px solid #EEEEEE; padding: .5em 1em; -moz-border-radius: 15px; border-radius: 15px; margin-right: 1em; }
.page-groups .region-two-66-33-second .region-inner .facet-introduction, .page-groups .region-three-brick-left-above .region-inner .facet-introduction, .page-groups .region-three-brick-center-above .region-inner .facet-introduction, .page-groups .region-three-brick-right-above .region-inner .facet-introduction, .page-events .region-two-66-33-second .region-inner .facet-introduction, .page-events .region-three-brick-left-above .region-inner .facet-introduction, .page-events .region-three-brick-center-above .region-inner .facet-introduction, .page-events .region-three-brick-right-above .region-inner .facet-introduction { font-weight: 700; padding-top: 1em; }
.page-groups .region-two-66-33-second .region-inner .facet.block, .page-groups .region-three-brick-left-above .region-inner .facet.block, .page-groups .region-three-brick-center-above .region-inner .facet.block, .page-groups .region-three-brick-right-above .region-inner .facet.block, .page-events .region-two-66-33-second .region-inner .facet.block, .page-events .region-three-brick-left-above .region-inner .facet.block, .page-events .region-three-brick-center-above .region-inner .facet.block, .page-events .region-three-brick-right-above .region-inner .facet.block { margin-bottom: 1em; }
.page-groups .region-two-66-33-second .region-inner .facet h2.block-title, .page-groups .region-three-brick-left-above .region-inner .facet h2.block-title, .page-groups .region-three-brick-center-above .region-inner .facet h2.block-title, .page-groups .region-three-brick-right-above .region-inner .facet h2.block-title, .page-events .region-two-66-33-second .region-inner .facet h2.block-title, .page-events .region-three-brick-left-above .region-inner .facet h2.block-title, .page-events .region-three-brick-center-above .region-inner .facet h2.block-title, .page-events .region-three-brick-right-above .region-inner .facet h2.block-title { padding: 0 .6em 0.1em 1em; -moz-border-radius: 15px; border-radius: 15px; color: white; background-color: #BBBBBB; font-size: 1.1em; font-weight: normal; min-width: 8em; margin-bottom: .3em; }
.page-groups .region-two-66-33-second .region-inner .facet ul li, .page-groups .region-three-brick-left-above .region-inner .facet ul li, .page-groups .region-three-brick-center-above .region-inner .facet ul li, .page-groups .region-three-brick-right-above .region-inner .facet ul li, .page-events .region-two-66-33-second .region-inner .facet ul li, .page-events .region-three-brick-left-above .region-inner .facet ul li, .page-events .region-three-brick-center-above .region-inner .facet ul li, .page-events .region-three-brick-right-above .region-inner .facet ul li { list-style: none; margin: 0 0 .2em 0; }
.page-groups .three-brick .region-three-brick-top .region-inner, .page-events .three-brick .region-three-brick-top .region-inner { margin: 0 1em; }
.page-groups .three-brick .region-three-brick-top .region-inner .contextual-links-region, .page-events .three-brick .region-three-brick-top .region-inner .contextual-links-region { margin-bottom: 0; }
.page-groups .three-brick .region-three-brick-left-above .region-inner, .page-events .three-brick .region-three-brick-left-above .region-inner { margin-left: 1em; }
.page-groups .three-brick .row-2, .page-events .three-brick .row-2 { margin-top: 3em; }
.page-groups .three-brick .row-2 h2.pane-title, .page-events .three-brick .row-2 h2.pane-title { padding: 0 .6em 0.1em 1em; -moz-border-radius: 15px; border-radius: 15px; color: white; background-color: #777777; font-size: 1.3em; font-weight: normal; min-width: 8em; margin-bottom: .3em; }
.page-groups .three-brick .row-2 .date, .page-events .three-brick .row-2 .date { display: inline; }
.page-groups .three-brick .row-2 .region-three-brick-left-below .block-inner .view-grouping .view-grouping-header h2, .page-events .three-brick .row-2 .region-three-brick-left-below .block-inner .view-grouping .view-grouping-header h2 { background-color: #EEEEEE; font-family: Garamond, Perpetua, "Times New Roman", serif; padding: 0 .6em 0.1em .6em; -moz-border-radius: 15px; border-radius: 15px; }
.page-groups .three-brick .row-2 .region-three-brick-left-below .block-inner .view-grouping .view-grouping-content, .page-events .three-brick .row-2 .region-three-brick-left-below .block-inner .view-grouping .view-grouping-content { margin-bottom: 2em; }

.front .region-inner, .page-home .region-inner { padding: 0.5em; }
.front h2.block-title, .front h2.pane-title, .page-home h2.block-title, .page-home h2.pane-title { padding: 0 .6em 0.1em 1em; -moz-border-radius: 15px; border-radius: 15px; font-size: 1.3em; font-weight: normal; min-width: 8em; margin-bottom: .3em; }
.front .region-three-brick-top .pane-block, .page-home .region-three-brick-top .pane-block { margin-bottom: 0; }
.front .facet.block, .page-home .facet.block { margin-bottom: 1em; }
.front .facet h2.block-title, .page-home .facet h2.block-title { background-color: #777777; color: white; }
.front .facet ul li, .page-home .facet ul li { list-style: none; margin: 0 0 .2em 0; }
.front .region-three-brick-right-above h2.pane-title, .page-home .region-three-brick-right-above h2.pane-title { background-color: #BBBBBB; color: black; }
.front .region-three-brick-right-above .date, .page-home .region-three-brick-right-above .date { display: inline; }
.front .region-three-brick-left-below h2.pane-title, .page-home .region-three-brick-left-below h2.pane-title { background-color: #BBBBBB; color: black; }
.front .region-three-brick-left-below h2.country, .page-home .region-three-brick-left-below h2.country { background-color: #EEEEEE; font-family: Garamond, Perpetua, "Times New Roman", serif; padding: 0 .6em 0.1em .6em; -moz-border-radius: 15px; border-radius: 15px; }
.front .region-three-brick-right-below h2.block-title, .page-home .region-three-brick-right-below h2.block-title { background-color: #BBBBBB; color: white; }
.front .region-three-brick-right-below ul, .page-home .region-three-brick-right-below ul { margin-top: 15px; }
.front .region-three-brick-right-below ul li, .page-home .region-three-brick-right-below ul li { padding-bottom: .5em; }
@media only screen and (min-width: 768px) { .front .three-brick .row-1 .region-three-brick-top, .front .three-brick .row-1 .region-three-brick-right-above, .front .three-brick .row-1 .region-three-brick-left-below, .front .three-brick .row-1 .region-three-brick-right-below, .front .three-brick .row-2 .region-three-brick-top, .front .three-brick .row-2 .region-three-brick-right-above, .front .three-brick .row-2 .region-three-brick-left-below, .front .three-brick .row-2 .region-three-brick-right-below, .page-home .three-brick .row-1 .region-three-brick-top, .page-home .three-brick .row-1 .region-three-brick-right-above, .page-home .three-brick .row-1 .region-three-brick-left-below, .page-home .three-brick .row-1 .region-three-brick-right-below, .page-home .three-brick .row-2 .region-three-brick-top, .page-home .three-brick .row-2 .region-three-brick-right-above, .page-home .three-brick .row-2 .region-three-brick-left-below, .page-home .three-brick .row-2 .region-three-brick-right-below { width: 50%; }
  .front .three-brick .row-1 .region-three-brick-left-above, .front .three-brick .row-1 .region-three-brick-center-above, .front .three-brick .row-2 .region-three-brick-left-above, .front .three-brick .row-2 .region-three-brick-center-above, .page-home .three-brick .row-1 .region-three-brick-left-above, .page-home .three-brick .row-1 .region-three-brick-center-above, .page-home .three-brick .row-2 .region-three-brick-left-above, .page-home .three-brick .row-2 .region-three-brick-center-above { width: 25%; } }

.translation-links { text-align: right; margin-bottom: 0; height: 2em; }
.translation-links .block-title { display: none; }

.pane-radar-event-panel-pane-2 h3.date { margin: 0 0 1em 0; }

/* Maps */
.openlayers-popup .olPopup img { opacity: .6; }
.openlayers-popup a { color: white; }

/* Common classes */
.group, .listings-group { font-family: "Noto-Serif", Georgia, Baskerville, Palatino, "Palatino Linotype", "Book Antiqua", "Times New Roman", serif; }

/* Captcha */
fieldset.captcha { min-width: 30em; }

pre.ascii_art_captcha { font-size: 0.7rem; }

/* User page */
.view-display-id-user_active_groups ul { margin-left: 2em; }
.view-display-id-user_active_groups .group-event-links { display: none; }
.view-display-id-user_active_groups .group-event-links:target { display: block; }

/* Group events admin view */
.view-requests .view-header .item-list { text-align: right; }
@media only screen and (min-width: 580px) { .view-requests .view-header .item-list { margin-top: -3em; } }

.view-requests .view-header .radar-og-create-links { list-style-type: none; }
